Python == 3.9
Django==4.2.1
requests==2.31.0
bs4==0.0.1
beautifulsoup4==4.8.2
nltk==3.5
openai==0.27.4
docx==0.2.4
regex==2023.3.23
asgiref==3.7.2
six==1.12.0
sqlparse==0.4.4
tzdata==2023.3
