{% load static %}
<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiregen.ai</title>
    <link rel="stylesheet" href="{% static './styles/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static './styles/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
        <div class="container">
            <a class="navbar-brand font-weight" href="#">
                <img src="{% static './images/hiregen-logo.png'%}" height="50px" alt="logo">
                
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'main' %}">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link nav-resume-finder" href="{% url 'resum' %}">Resume Finder</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">How it works</a></li>
                      <li><a class="dropdown-item" href="#">Resume Finder</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> -->
                    <li class="nav-item">
                        <a class="nav-link nav-resume-finder" href="{% url 'jobsee' %}">Job Seeker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="">
        <div class="container-fluid inner-banner">
            <div class="text-center">
                <h1 class="text-white">Job Search</h1>
                <div class="container resume-input-fields" id="job-classic-view">
                    <form action="">
                        <div class="row mt-4">
                            <div class="col-md-5">
                                <!-- <label for="" class="text-left">Job Title / Skills</label> -->
                                <input type="text" class="form-control" placeholder="Job Title / Skills">
                            </div>
                            <div class="col-md-2">
                                <!-- <label for="" class="text-left">Location</label> -->
                                <input type="text" class="form-control" placeholder="Location">
                            </div>
                            <div class="col-md-2">
                                <!-- <label for="" class="text-left">Experience</label> -->
                                {% comment %} {% comment %} <select name="" id="" class="form-control"> {% endcomment %}
                                    <option value="experience">Experience</option>
                                    <option value="any">Any</option>
                                    <option value="0">0 (Fresher)</option>
                                    <option value="6M">06 Months</option>
                                    <option value="1Y">1 Year</option>
                                    <option value="1.5Y">1.5 Years</option>
                                    <option value="2Y">2 Years</option>
                                    <option value="3Y">3 Years</option>
                                    <option value="3+">3+ Years</option>
                                </select> 
                            </div>
                            <div class="col-md-3 ">
                                <button type="button" class="btn-own p-1 me-3">Search</button>
                                <button type="button" class="btn-own p-1" onclick="compactView()">Compact view</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container resume-input-fields" id="job-compact-view">
                    <form action="{% url 'job_search' %} method="POST" >
                        {% csrf_token %}
                          <div class="row mt-4">
                            <div class="col-md-12">
                                <label for="" class="text-left mb-2">Enter detailed job description</label>
                                <textarea name="description" id="" cols="30" class="form-control" placeholder="e.g. I want a person with the technologies of Java, Selinium with 5+ years of experience..."></textarea>
                            </div>
                        </div>
                        <div class="text-center mt-3 ">
                            {% comment %} <button type="button" class="btn-own p-1 me-3" <input type="submit" value="Search">Search</button> {% endcomment %}
                            <input type="submit" class="btn-own p-1 me-3 " value="search">
                            <button type="button" class="btn-own p-1" onclick="classicView()">Classic view</button>
                        </div>
                    </form>
                    </div>
            </div>
        </div>
    </section>

    <section class="resume_search_section_color">
        <div class="container">
            <div class="card mb-2">
                <div class="card-header">
                    
                    <h6>Python developer Jobs Opening in AlgoFno Technologies Pvt Ltd at Hyderabad-Others,
                        Hyderabad</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h1>Job Summary</h1>
                            <!-- jobseeker.html -->

                            {% if job_listings %}
                                <h1>Job Listings</h1>
                                {% for job in job_listings %}
                                    <div>
                                        <h2>{{ job.title }}</h2>
                                        <p>Location: {{ job.location }}</p>
                                        <p>Qualification: {{ job.qualification }}</p>
                                        <p>Application: {{ job.apply }}</p>
                                        <a href="{{ job.link }}">Job Details</a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No job listings found.</p>
                            {% endif %}

                            {% comment %} <p>Search Description: {{ description }}</p> {% endcomment %}

                                {% comment %} <ul>{% for job in job_listings %}
                                    <li>
                                        <h3>{{ job.title }}</h3>
                                        <p>Location: {{ job.location }}</p>
                                        <p>Qualification: {{ job.qualification }}</p>
                                        <p>Apply: {{ job.apply }}</p>
                                        <a href="{{ job.link }}">Link</a>
                                    </li>
                                    {% endfor %}
                                </ul> {% endcomment %}
                            
                            {% comment %} <p>AlgoFno Technologies Pvt Ltd </p>
                            <p>Hyderabad</p>
                            <p>BE/B.Tech, ME/M.Tech</p> {% endcomment %}
                        </div>
                        <div class="col-md-2 border-left">
                            <div class="mt-3 vertical-center ms-2">
                                <button type="submit" class="btn btn-sm btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="card mb-2">
                <div class="card-header">
                    <h6>Python developer Jobs Opening in AlgoFno Technologies Pvt Ltd at Hyderabad-Others,
                        Hyderabad</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p>AlgoFno Technologies Pvt Ltd </p>
                            <p>Hyderabad</p>
                            <p>BE/B.Tech, ME/M.Tech</p>
                        </div>
                        <div class="col-md-2 border-left">
                            <div class="mt-3 vertical-center ms-2">
                                <button type="submit" class="btn btn-sm btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h6>Python developer Jobs Opening in AlgoFno Technologies Pvt Ltd at Hyderabad-Others,
                        Hyderabad</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p>AlgoFno Technologies Pvt Ltd </p>
                            <p>Hyderabad</p>
                            <p>BE/B.Tech, ME/M.Tech</p>
                        </div>
                        <div class="col-md-2 border-left">
                            <div class="mt-3 vertical-center ms-2">
                                <button type="submit" class="btn btn-sm btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h6>Python developer Jobs Opening in AlgoFno Technologies Pvt Ltd at Hyderabad-Others,
                        Hyderabad</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p>AlgoFno Technologies Pvt Ltd </p>
                            <p>Hyderabad</p>
                            <p>BE/B.Tech, ME/M.Tech</p>
                        </div>
                        <div class="col-md-2 border-left">
                            <div class="mt-3 vertical-center ms-2">
                                <button type="submit" class="btn btn-sm btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </section>




    <section class="footer footer-inner">
        <div class="footer-animate-gif">
            <div class="footer-animate-gif-inner">
                <!-- <img src="images/hossain.gif" alt=""> -->
                <div class="container p-5">
                    <div class="row">
                        <div class="col-md-4 footer-heading">
                            <div class="bg-white w-50 mb-3">
                                <img src="{% static './images/hiregen-logo.png'%}" height="50px" alt="logo" class="mb-3">
                            </div>

                            <p class="text-white text-content-justify" style="font-size: 14px;">Resume Search is a free
                                platform, where
                                Employer can listout as many resume and chat with candidate dircetly and JobSeeker can
                                apply to relevant job posted by employer.</p>
                        </div>
                        <div class="col-md-4 footer-links">
                            <h3 class="text-white">Quick links</h3>

                            <ul class="text-white pl-0">
                                <li>
                                    <a href="">
                                        Resume Finder
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        JobSeeker
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-links">
                            <h3 class="text-white">Address</h3>
                            <ul class="text-white pl-0">
                                <li>
                                    <a href="">
                                        <i class="fa-solid fa-envelope"></i>
                                        singlepointsolutions.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </body>
    <script>
        document.getElementById('job-classic-view').style.display = 'none';
        function classicView() {
            document.getElementById('job-compact-view').style.display = 'none';
            document.getElementById('job-classic-view').style.display = 'block';
        }
        function compactView() {
            console.log('compact');
            document.getElementById('job-compact-view').style.display = 'block';
            document.getElementById('job-classic-view').style.display = 'none';
        }
    </script>

</html>