* {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

.section-box {
    background-image: url(../images/bg-banner.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 100px;
}

.block-banner {
    /* padding: 50px 0px 80px 192px; */
    padding: 50px 0px 80px 100px;
}

.navbar {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nav-resume-finder {
    border: 1px solid #000;
    margin: 0 10px;
    background: #06355a;
    border-radius: 25px;
    color: #fff;
    padding: 4px 0px;
    margin-top: 4px;
}

.nav-resume-finder:hover {
    color: #fff;
    background-color: #333;
}

.heading-banner {
    color: #05264E;
    font-size: 48px;
    line-height: 60px;
    color: #05264E;
    font-weight: 700;

}

.color-brand-2 {
    color: #3C65F5;
    position: relative;
}

.color-brand-2 a::after {
    content: "";
    background-color: #3C65F5;
    height: 25px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    z-index: -1;
    opacity: 0.1;
}

.banner-desc {
    position: relative;
    font-size: 18px;
    color: #4F5E64;
}

.intro-banner-search-form {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .09);
    /* padding-left: -192px; */
    padding: 15px;
    margin-top: 50px;
}

.intro-banner-search-form .form-control {
    border: 0;
}

.job-input-skill,
.job-location,
.job-exp {
    border-right: 1px solid #eee;
}

.job-search-button {
    padding-left: 25px;
}

.img-flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* .intro-search-field {
    padding: 10px 12px;
    border-right: 1px solid #e4e4e4;
    flex: 1;
    align-items: center;
    display: flex;
    position: relative;
} */

/* .pac-container {
    border: none;
    padding-top: 0;
    z-index: 9;
    left: 0!important;
    top: 100%!important;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    width: 100%!important;
    margin-top: 0;
    overflow: visible;
}
.input-with-icon {
    align-self: center;
    flex: 1;
}
.intro-banner-search-form .input-with-icon input {
    padding: 10px 15px;
    padding-left: 43px;
} */
/* .intro-banner-search-form .intro-search-field:nth-last-child(2) {
    border-right: none;
} */

.blue-background {
    background-color: #05264e;
    color: #fff;
    text-align: center;
    padding: 80px;
    position: relative;
    margin-top: -100px;
    z-index: -1;
    padding-top: 200px;
    padding-bottom: 200px;
}

.white-background {
    text-align: center;
    padding: 80px;
    position: relative;
    margin-top: -100px;
    z-index: -1;
    padding-top: 200px;
    padding-bottom: 200px;
}


#footer {
    background-color: #303030;
    color: silver;
    padding: 40px 0 0;

}

.footer {
    margin-top: -100px;
    z-index: -1;
    position: relative;
}

.footer-animate-gif {
    /* padding-bottom: 100px; */
    background: rgba(0, 0, 0, .09);
    background-image: url(../images/hossain.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 150px;
}

.footer-links ul li {
    list-style-type: none;
    margin-left: -17px;
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #b6b6b6;
}

.footer-links ul li:hover {
    color: #fff;
    padding-left: 10px;
    color: #fff;
}

.footer-links ul li a:hover {
    color: #fff;
}

.btn-own {
    padding: 10px;
    color: #05264e;
    background: #fff;
    border-radius: 10px;
    font-weight: 600;
}

.btn-own:hover {
    padding: 10px;
    color: #fff;
    background: #05264e;
    border: 1px solid #fff;
    border-radius: 10px;
}

.section-box1 {
    /* background-image: url(../images/bg-cat.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 100px;
    z-index: 9; */
    background-image: url(../images/bg-cat.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 70px 0px 150px 0px;
    display: inline-block;
    width: 100%;
    overflow: visible;
    margin-top: -125px;
}

.section-box1-inner {
    padding-top: 125px;
}

.home-icon-font {
    font-size: 30px;
    color: #05264E;
}

.home-text {
    font-size: 17px;
}

.strip-sec {
    background: rgb(255, 97, 88);
    background: -moz-linear-gradient(90deg, rgba(255, 97, 88, 1) 0%, rgba(255, 97, 88, 1) 50%, rgba(55, 35, 84, 1) 50%, rgba(55, 35, 84, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 97, 88, 1) 0%, rgba(255, 97, 88, 1) 50%, rgba(55, 35, 84, 1) 50%, rgba(55, 35, 84, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 97, 88, 1) 0%, rgba(255, 97, 88, 1) 50%, rgba(55, 35, 84, 1) 50%, rgba(55, 35, 84, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6158", endColorstr="#3c2064", GradientType=1);
    color: #ffffff;
}

.strip-sec .left-sec {
    position: relative;
    z-index: 1;
    height: 230px;
    display: flex;
    align-items: center;
}

.strip-sec .left-sec .people-group {
    position: absolute;
    top: 36px;
    left: -28px;
    width: 250px;
}


/* inner page */

.inner-banner {
    /* width: 100%;
    padding: 75px 0 75px;
    background-image: url(../images/header_img.png); */
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 140px 0 140px;
    /* top: 100px; */
    background-image: url(../images/header_img.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0px -122px; */
    background-color: #000;
    /* opacity: 0.3; */
}

.inner-banner::after {
    
    position: absolute;
    content: '';
    top: 0;
    z-index: -1;
    background: #1c1c1c1a;
    width: 100%;
    height: 100%;
}
/* .abcd{
    background-color: #000;
} */

.resume-input-fields {
    padding: 15px 35px;
    border-radius: 6px;
    margin-top: 35px;
    background: #f2f7fb;
    text-align: center;
}


.resume_search_section_color {
    padding: 60px 0;
    background: #f2f7fb;
}

.vertical-center {
    margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
/* -ms-transform: translateX(-50%);
transform: translateX(-50%); */
}


.border-left {
    border-left: 1px solid #eee;
}

.footer-inner {
    padding-top: -110px;
}

.list-style li {
    list-style-type: none;
    margin-bottom: 10px;
}